{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}

    <!-- Title -->
    <title>
        {% block webTitle %}
        Library Management System
        {% endblock webTitle %}
    </title>
</head>

<body class="flex flex-col justify-between min-h-screen">
    <!-- Header Import -->
    {% include 'header.html' %}

    <!-- Body -->
    <main class="flex-grow my-4 w-11/12 mx-auto">

        {% block body %}

        {% endblock body %}

    </main>

    <!-- Footer Import -->
    {% include 'footer.html' %}
</body>

</html>