{% load static %}

<div class="navbar rounded-md mt-2 shadow border-b-2 border-b-green-400 w-11/12 mx-auto">
    <div class="navbar-start">
        <div class="flex items-center space-x-2">
            <img src="{% static 'logo.png' %}" class="w-14 md:w-12" alt="">
            <a class="text-xl hidden lg:flex font-bold">Library <br> Management</a>
        </div>
    </div>

    <!-- nav items -->
    <div class="navbar-center hidden md:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a>Home</a></li>
            <li><a>Books</a></li>
        </ul>
    </div>

    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="">
                <div class="rounded-full" title="profile">
                    <ion-icon class="btn-circle border text-5xl fill-amber-500 hover:border-amber-500"
                        name="person-circle-sharp"></ion-icon>
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow flex flex-col-reverse lg:block">
                <li><a>Profile</a></li>
                <li><a>Logout</a></li>
                <li><a>Signup</a></li>
                <li><a>Login</a></li>

                <!-- mobile version -->
                <span class="border my-2 md:hidden"></span>
                <!-- mobile version -->
                <div class="md:hidden">
                    <li><a>Home</a></li>
                    <li><a>Books</a></li>
                    <li><a>Deposit</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>